CONFIG_TARGET_x86=y
CONFIG_TARGET_x86_64=y
CONFIG_TARGET_x86_64_DEVICE_generic=y
# CONFIG_TARGET_IMAGES_GZIP is not set
# CONFIG_TARGET_ROOTFS_EXT4FS is not set
# CONFIG_TARGET_ROOTFS_SQUASHFS is not set
CONFIG_LIBC="uClibc"
CONFIG_LIBC_USE_UCLIBC=y
# CONFIG_LIBC_USE_GLIBC is not set
CONFIG_PACKAGE_ar=y
CONFIG_PACKAGE_bash=y
CONFIG_PACKAGE_binutils=y
CONFIG_PACKAGE_gcc=y
CONFIG_PACKAGE_iperf=y
CONFIG_PACKAGE_iperf3=y
CONFIG_PACKAGE_libbfd=y
CONFIG_PACKAGE_libcap=y
CONFIG_PACKAGE_libctf=y
CONFIG_PACKAGE_libncurses=y
CONFIG_PACKAGE_libopcodes=y
CONFIG_PACKAGE_libpcre=y
CONFIG_PACKAGE_libreadline=y
CONFIG_PACKAGE_libstdcpp=y
CONFIG_PACKAGE_m4=y
CONFIG_PACKAGE_objdump=y
CONFIG_PACKAGE_terminfo=y
CONFIG_PACKAGE_uclibcxx=y
CONFIG_PACKAGE_zlib=y
CONFIG_PACKAGE_zsh=y
CONFIG_PCRE_JIT_ENABLED=y
CONFIG_STRIP_ARGS="--strip-all"
# CONFIG_USE_SSTRIP is not set
CONFIG_USE_STRIP=y
